	<table width="100%">
	<tr>
		<td>
			<a href="/ghostnet/botverse.html" class="linklist_botnav" >Botverse.Home</a>
			| <a href="/ghostnet/botverse_submit.html" class="linklist_botnav">Submit New Link</a>
			| <a href="/ghostnet/botverse.html?filterset=mostrecent" class="linklist_botnav">Most Recent</a>			
			| <a href="/ghostnet/calendar/botverse_calendar.html" class="linklist_botnav">Calendar View</a>			
			| <a href="/foaf/foaf.html" class="linklist_botnav">&lt;FOAF&gt;</a>
			| <a href="/ghostnet/text/botverse_light.html" class="linklist_botnav">Text Vers</a>
			| <a href="/ghostnet/pipes/botverse_pipes.html" class="linklist_botnav">Pipes Vers</a>
		</td>
		<td align="right">
			<a href="/ghostnet/rss/botverse_rss.html" class="index_img" >
				<img border="0" src="/company/images/rss.gif" width="36" height="14" alt="rss logo" />
			</a>
		</td>
	</tr>
	</table>	