<div id="navigation">
			<ul style="margin-top: 0px;">
				<li><a href="#"></a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/spring/botverse/botverse.html?filterset=mostrecent">Botverse (popular links)</a></li>
				<li><a href="/spring/semantic/foaf/foaf.html">FOAF (SW)</a></li>							
				<li><a href="/spring/search/search.html?querymode=enabled&amp;query=">Search</a></li>
				<li><a href="/spring/forums/forums.html">Forums</a></li>
				<li><a href="/spring/forums/comments/topics.html">Comments</a></li>										
				<li><a href="/spring/help/help.html">Help</a></li>				
			</ul>
</div>