{% extends "ghostnet/botverse_base.html" %}

{# ------------------------- #}
{% block full_body_content %}
{# ------------------------- #}

<div id="body_border" style="border: 1px solid #DDD; padding: 10px;">
<div class="bot_profile_sect_add_link">
							
{% block botverse_navigation %}
 	{% include "general_incl/botverse_navigation.html" %}
{% endblock %}
									
<form action="/ghostnet/botverse_submit_post" method="post">
<table>
	{{ form.as_table }}
</table>
<div>
	<input type="submit" value=" Submit Link " />
</div>
<!-- End of the table -->
</form>

</div>
</div> {# End of Body Border #}

{% endblock %}